
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Pusula | Register</title>

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

<link rel="stylesheet" href="admin/plugins/fontawesome-free/css/all.min.css">

<link rel="stylesheet" href="admin/plugins/icheck-bootstrap/icheck-bootstrap.min.css">

<link rel="stylesheet" href="admin/dist/css/adminlte.min.css?v=3.2.0">
</head>
<body class="hold-transition register-page">
<div class="register-box">
<div class="card card-outline card-primary">
<div class="card-header text-center">
<a th:href="@{/news}" class="h1"><b>Pusula</b></a>
</div>
<div class="card-body">
<p class="login-box-msg">Üye ol ve özel içeriklere eriş!</p>
    <form th:action="@{/processRegistrationForm}" th:object="${newUser}" method="POST">
        <div class="form-group">
            <div class="col-xs-15">
                <div>
                    <!-- Check for registration error -->
                    <div th:if="${error}">
                        <div class="alert alert-danger col-xs-offset-1 col-xs-10">
                            <span th:text="${error}"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Include CSRF Token -->
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

        <div class="input-group mb-3">
            <input type="email" class="form-control" th:field="*{email}" placeholder="E mail">
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                </div>
            </div>
        </div>
        <div th:if="${#fields.hasErrors('email')}"
             style="margin-bottom: 25px" class="text-danger">
            <ul>
                <li th:each="err : ${#fields.errors('email')}" th:text="'Email ' + ${err}" />
            </ul>
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control" th:field="*{username}" placeholder="Username">
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-user"></span>
                </div>
            </div>
        </div>

        <div class="input-group mb-3">
            <input type="password" class="form-control" th:field="*{password}" placeholder="Password">
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                </div>
            </div>
        </div>

        <div th:if="${#fields.hasErrors('password')}"
             style="margin-bottom: 25px" class="text-danger">
            <ul>
                <li th:each="err : ${#fields.errors('password')}" th:text="'Password ' + ${err}" />
            </ul>
        </div>

        <div class="row">
            <div class="col-8">
                <div class="icheck-primary">
                    <input type="checkbox" id="agreeTerms" name="terms" value="agree">
                    <label for="agreeTerms">
                        I agree to the <a href="#">terms</a>
                    </label>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-4">
                <button type="submit" class="btn btn-primary btn-block">Register</button>
            </div>
            <!-- /.col -->
        </div>
    </form>


<a href="login.html" class="text-center">Zaten üye misin ?</a>
</div>

</div>
</div>


<script src="admin/plugins/jquery/jquery.min.js"></script>

<script src="admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="admin/dist/js/adminlte.min.js?v=3.2.0"></script>
</body>
</html>
